@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{

    <ul class="sidebar_categories">
        @if (ViewBag.CateId ==0)
        {
            <li class="active"><a href="/products/index"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>All</a></li>
        }
        else
        {
            <li><a href="/products/index">All</a></li>
        }

        @foreach (var item in Model)
        {
         
            if (ViewBag.CateId == item.ProductCategoryId)
            {
                <li class="active"><a href="/products/index/@(item.ProductCategoryId)"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.Title</a></li>
            }
            else
            {
                <li><a href="/products/index/@(item.ProductCategoryId)">@item.Title</a></li>
            }
        }
    </ul>
}