@model WebBanHangOnline.Models.EF.Contact
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Detail </a>
        </li>
    </ul>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Category</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/contact">Contact</a></li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Category information </h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">             
                    <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">

                        <div class="form-group">
                            <label>Customer Name</label>
                           <p>@Model.Name</p>
                        </div>
                        <div class="form-group">
                            <label>Email </label>
                        <p>@Model.Email</p>
                        </div>
                        <div class="form-group">
                            <label>Messgage</label>
                        <p>@Model.Message</p>
                        </div>

                        <div class="form-group">
                            <label>CreateDate</label>
                        <p>@Model.CreatedDate?.ToString("dd/MM/yyyy")</p>
                        </div>                                     
                        <div class="form-group">              
                            <a href="/admin/contact" class="btn btn-danger">Back</a>

                        </div>
                    </div>               
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->