@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>*@
@if (!SignInManager.IsSignedIn(User))
{
    <a href="#">
        My Account
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="account_selection">
        <li><a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
    </ul>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        Welcome: @User.Identity?.Name!
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="account_selection">
        <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-sign-in" aria-hidden="true"></i>Profile</a></li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="fa fa-user-plus" aria-hidden="true">Logout</button>
            </form>
        </li>
       @* <li><a href="javascript:document.getElementById('logOffForm').submit()"><i class="fa fa-user-plus" aria-hidden="true"></i> Logout</a></li>*@
    </ul>
}
