@model WebBanHangOnline.Models.OrderViewModel
@using (Html.BeginForm("CheckOut", "Shoppingcart", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <h3>Customer information</h3>
    <div class="form-group">
        <label>Customer Name</label>
        <input type="text" name="CustomerName" required class="form-control" autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input type="text" name="Phone" class="form-control" autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Address</label>
        <input type="text" name="Address" class="form-control" autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="Email" class="form-control" autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Payments</label>
        <select class="form-control" name="TypePayment">
            <option value="1" selected>COD</option>
            <option value="2">Bank transfer</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-success">Sumbmit</button>
    </div>
}